.dropzone {
  .dz-default {
    width: 100%;
    border: 2px dashed #666;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
  }

  .dz-success-mark, .dz-error-mark, .dz-size {
    display: none;
  }

  .dz-image-preview {
    margin-top: 1rem;

    .dz-preview {
      border: 1px solid #ccc;
      padding: 1rem;

      .dz-details {
        .dz-filename {
          font-size: 0.75rem;
        }

        img {
          display: block;
          margin: 0.5rem auto;
        }
      }
    }
  }
}
.dropzone.dz-drag-hover .dz-default {
  background-color: #ccc;
}
form#new_user_submitted_content #prompt {
  background: #93000d;
  font-size: 2em;
  font-weight: 700;
  color: #f2f2f2;
  display: none;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  border: solid black;
}
.status-icon i.fa-check {
  color: green;
}
#errormsg {
  font-size: 1.5em;
  font-weight: 600;
  color: #b61616;
}
