<div class="row admin-container">
  <div class="columns small-12 admin-page-title">
    <h1>Editing Collections</h1>
  </div>

  <div class="columns small-12">
    <%= render "form" %>
  </div>

  <div class="columns small-12">
    <div class="universal-flex-container universal-flex-natural admin-button-container">
      <%= link_to user_submitted_collections_path, class: "admin-button admin-back universal-flex-button flex-button-natural" do %>
        <i class="fas fa-arrow-left"></i> Back
      <% end %>
    </div>
  </div>

</div>
