<% content_for :special_css do %>
  <%= stylesheet_link_tag "user_submitted/admin" %>
<% end %>
<table id="user-submitted">
  <thead>
    <tr>
      <th></th>
      <th>Status</th>
      <th>Submitted</th>
      <th>Content</th>
      <th>Credit</th>
      <% unless @collection %>
        <th>Collection</th>
      <% end %>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% contents.each do |content| %>
<tr id="content-row-<%= content.id %>">
      <%= render partial: "user_submitted/contents/row", locals: {collection: @collection, content: content} %>
</tr>
    <% end %>
  </tbody>
</table>
<script>
  $(function(){
    $(".status-btn a").click(function(e){
      e.preventDefault();
      var content_id     = $(this).attr('data-content-id');
      var collection_id     = $(this).attr('data-collection-id');
      var status = $(this).attr('data-status');
      var note   = $("#user_submitted_content_note_"+content_id).val();
      update_status(collection_id, content_id, status, note);
    });
    function update_status(collection_id, content_id, status, note){
      $.ajax({
        type: "post",
        url: "/admin/user_submitted/collections/"+collection_id+"/contents/"+content_id+"/update_status",
        data: {
          'status' : status,
          'note' : note
        }
      }).done(function(response) {
        $("#content-row-"+content_id).html(response);
      });
    }
  });

</script>
