<div class="row admin-container">
  <div class="columns small-12 admin-page-title">
    <h1>Editing Content</h1>
  </div>
  <div class="columns small-12">
    <%= render "form" %>
  </div>

  <div class="columns small-12 universal-flex-container universal-flex-natural">
    <%= link_to user_submitted_collection_path(@content.collection), class: "admin-back universal-flex-button flex-button-natural" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>
    <%= link_to user_submitted_collection_content_path(@content.collection, @content), class: "admin-back universal-flex-button flex-button-natural" do %>
      View
    <% end %>
  </div>

</div>
