<div class="row admin-container user-submitted-collection-index">
  <div class="columns small-12">
    <%= render partial: "user_submitted/collections/show", locals: {collection: @collection} %>
  </div>
  <% @collections.each do |collection| %>
    <div class="columns small-12 medium-6">
      <%= render partial: "user_submitted/collections/preview", locals: {collection: collection} %>
    </div>
  <% end %>
</div>
<script type='text/javascript'>
  var slick_options = {
    cssEase: 'linear',
    height: 'auto',
    adaptiveHeight: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    dots: false
  }
  $(document).ready(function() {
    $('.gallery-slider').slick(slick_options);
    $('.video-player').each(function(){
      jwplayer(this.id).setup({
        file: $(this).data('source'),
        width: '100%',
        aspectratio: '16:9'
      });
    });
  });
</script>
