<div class="row admin-container">
  <div class="columns small-12 admin-page-title">
    <h1>User submitted content for: <%= @collection.name %></h1>

    <%= render 'contents_form' %>

  </div>
</div>
